<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create Role</title>
</head>
<body>
<div>
    <form name="f" th:action="@{/create-role}" th:object="${role}" method="post">
        <fieldset>
            <legend>Role</legend>
            <label for="name">Role name</label>
            <input type="text" id="name" name="name"/>
            <div class="form-actions">
                <button type="submit" class="btn">Register</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>