<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Login</title>
</head>
<body>
<div>
    <form name="f" th:action="@{/register}" th:object="${user}" method="post">
        <fieldset>
            <legend>Username</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email"/>
            <div class="form-actions">
                <button type="submit" class="btn">Register</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>